.mat-expansion-panel-header .mat-content {
  font-weight: 400;
  font-size: 0.875rem;
}

.mat-expansion-panel-header-description {
  flex-direction: column;
}

.mat-expansion-panel-header-description pre {
  font-size: 0.875rem;
}
