:host {
  height: 100%;
  min-height: calc(100vH + env(safe-area-inset-bottom));
  padding-bottom: env(safe-area-inset-bottom);
  display: grid;
  grid-template-rows: 1fr auto 1fr auto;
  grid-template-columns: 1fr auto 1fr;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.content {
  display: flex;
  flex-direction: column;
  grid-area: 2/2;
  margin: 0 auto;
  max-width: 800px;
  padding: 16px var(--content-padding);
}

.eschomat-footer {
  grid-row: 4;
  grid-column: span 3;
}

#logo {
  border-bottom: none !important;
  display: flex;
  margin-bottom: 20px;
  align-self: center;

  img {
    justify-self: center;
    align-self: center;
    display: flex;
  }
}
